/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #00796b;
}

#coin-display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#coin-img {
    width: 20vmin; /* Размер монеты относительно экрана */
    height: 20vmin;
    cursor: pointer;
    transition: transform 0.3s;
}

#coin-count {
    font-size: 5vmin; /* Размер текста относительно экрана */
    font-weight: bold;
    margin-top: 10px;
}
